body {
  color-scheme: dark;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

div.hacker-news-diygest-content {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  padding: 0.01em 3em;
  border-radius: 1em;
}

h1.hacker-news-diygest-title {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 0.5em;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 4em;
  line-height: 1;
  letter-spacing: -5px;
}

a, a:visited, a:hover {
  color:none;
  text-decoration:none;
}

p.delivery-date {
  font-size: 0.4em;
}

p.footnote {
  margin-top: 2em;
  font-size: 0.4em;
}

ul > li > ul {
  font-size: x-small;
  padding-bottom: 0.3em;
}

ul {
  list-style: none;
}
