body {
  background-color: #0d1117;
  color: #c9d1d9;
  color-scheme: dark;
  margin: 0;
  font-family: Helvetica;
}

div.hacker-news-diygest-content {
  background-color: #0d1117;
  color: #c9d1d9;
  font: Helvetica;
  font-size: ;
}

p.delivery-date {
  font-size: 0.4em;
}

p.footnote {
  margin-top: 2em;
  font-size: 0.4em;
}


ul > li > ul {
  font-size: x-small;
}

ul {
  list-style: none;
}

a {
  background-color: transparent;
  color: #58a6ff;
  text-decoration: none;
}

a:active, a:hover {
  outline-width: 0;
}

b, strong {
  font-weight: 600;
}

h1 {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid #21262d;
}

img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #0d1117;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid #21262d;
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #30363d;
  border: 0;
}

a:hover {
  text-decoration: underline;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

td, th {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

h2 {
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid #21262d;
}

h3 {
  font-weight: 600;
  font-size: 1.25em;
}

h4 {
  font-weight: 600;
  font-size: 1em;
}

h5 {
  font-weight: 600;
  font-size: .875em;
}

h6 {
  font-weight: 600;
  font-size: .85em;
  color: #8b949e;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  color: #8b949e;
  border-left: .25em solid #30363d;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.markdown-body table img {
  background-color: transparent;
}
